<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/f9a7380946.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../style.css" />
    <link rel="stylesheet" href="../../docs.css" />
    <link rel="stylesheet" href="./image.css" />
    <title>Image</title>
</head>

<body>
    <header>
        <div class="header-nav">
            <span class="brand-name"><a href="../../../index.html">Unfold 2.0</a></span>
            <div class="github">
                <a href="https://github.com/shraddha15-creator" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </header>

    <main>
        <div class="comp-page-container">
            <div class="navbar-left">
                <span class="navbar-left-title">Installation</span>
                <a class="navbar-left-items" href="../../docs.html">Refer</a>
                <span class="navbar-left-title">Components</span>
                <a class="navbar-left-items" href="../avatar/avatar.html">Avatars</a>
                <a class="navbar-left-items" href="../alert/alert.html">Alert</a>
                <a class="navbar-left-items" href="../badge/badge.html">Badge</a>
                <a class="navbar-left-items" href="../button/button.html">Buttons</a>
                <a class="navbar-left-items" href="../card/card.html">Cards</a>
                <a class="navbar-left-items active-tab" href="./image.html">Image</a>
                <a class="navbar-left-items" href="../input/input.html">Input</a>
                <a class="navbar-left-items" href="../text/text.html">Text</a>
                <a class="navbar-left-items" href="../list/list.html">Lists</a>
                <a class="navbar-left-items" href="../navigation/navigation.html">Navigation</a>
                <a class="navbar-left-items" href="../modal/modal.html">Modal</a>
                <a class="navbar-left-items" href="../toast/toast.html">Toasts</a>
                <a class="navbar-left-items" href="../grid/grid.html">Simplified Grid</a>
                <a class="navbar-left-items" href="../rating/rating.html">Ratings</a>
                <a class="navbar-left-items" href="../slider/slider.html">Slider</a>
            </div>
            <div class="container-docs">
                <span class="comp-page-header">Image</span>
                <div class="comp-page-details">
                    <h5>Responsive Image</h5>
                    <div class="img-container">
                        <img class="img-main img-sq" src="../../../images/avatar-dog.jpg" />
                    </div>
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28239%2C40%2C44%2C1%29&t=one-light&wt=sharp&l=auto&width=881.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-main%2520img-sq%2522%2520src%253D%2522..%252Fimages%252Fdog.jpg%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                        style="
								width: 881px;
								height: 123px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							" sandbox="allow-scripts allow-same-origin">
                    </iframe>

                    <h5>Round Image</h5>
                    <div class="img-container">
                        <img class="img-main img-round" src="../../../images/avatar-dog.jpg" />
                    </div>
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28239%2C40%2C44%2C1%29&t=one-light&wt=sharp&l=auto&width=881.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522img-main%2520img-round%2522%2520src%253D%2522..%252Fimages%252Fdog.jpg%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                        style="
								width: 881px;
								height: 123px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							" sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </div>
    </main>
</body>

</html>