:root {
    --badge-active: green;
    --badge-red: red;
    --badge-white: white;
    --ig: purple;
    --sc: rgb(238, 238, 44);
    --tw: rgb(25, 188, 252);
}

.badge-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    border-radius: 100px;
    margin: 2rem;
}

.badge-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.badge {
    position: relative;
    display: inline-block;
}

.icon-badge {
    position: absolute;
    width: 0.1%;
    top: -10px;
    left: 59%;
    padding: 0.3rem 0.7rem;
    border-radius: 100%;
    background: var(--badge-red);
    color: var(--badge-red);
    font-size: 0.7rem;
    font-weight: bold;
}

.badge-nums {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--badge-white);
}

.avatar-badge {
    position: absolute;
    width: 0.1%;
    bottom: 20%;
    left: 70%;
    padding: 0.6rem;
    border-radius: 100%;
    background: var(--badge-active);
    font-size: 1.2rem;
    font-weight: bold;
}

.avatar-badge span {
    font-weight: var(--font-bold);
}

.icon {
    font-size: 3rem;
}

.icon-ig {
    color: var(--ig);
}

.icon-sc {
    color: var(--sc);
}

.icon-tw {
    color: var(--tw);
}