:root {
    --badge-active: green;
    --badge-busy: red;
    --badge-away: white;
    --badge-away-outline: black;
}

.badge {
    display: flex;
    align-items: center;
}

.badge-avatar {
    padding: 1rem;
}

.badge-icon {
    padding: 1rem;
}

.badge-icon i {
    font-size: 4rem;
}

.badge-status-active {
    position: absolute;
    top: 16.7em;
    left: 24.4em;
    background-color: var(--badge-active);
    border-radius: 100%;
    padding: 12px;
}

.badge-status-busy {
    position: absolute;
    top: 16.5em;
    left: 31em;
    background-color: var(--badge-busy);
    border-radius: 100%;
    padding: 10px;
}

.badge-status-away {
    position: absolute;
    top: 15.9em;
    left: 36.8em;
    background-color: var(--badge-away);
    border: 2px solid var(--badge-away-outline);
    border-radius: 100%;
    padding: 5px;
}

.badge-noti-icon {
    position: absolute;
    bottom: -2rem;
    color: var(--badge-away);
    background-color: var(--badge-busy);
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 100%;
}

.badge-noti-one {
    left: 22.5rem;
}

.badge-noti-two {
    left: 24.5rem;
}

.badge-noti-three {
    left: 34rem;
}