@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #B98DFF;
    --primary-light: #eadcff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    font-weight: bold;
}

.brand-name {
    font-size: 1.5rem;
}


.container-main {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 4rem;
}

.hero-img img {
    width: 35%;
    padding-left: 6rem;
}

.hero-img-bg {
    position: absolute;
    top: 21.4em;
    z-index: -1;
    background: var(--primary-color);
    height: 20%;
    width: 30%;
    border-radius: 3rem 3rem 8rem 6rem;
    box-shadow: 5px 10px 20px rgb(58, 58, 58);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.3rem;
    font-weight: 500;
}

.docs-btn {
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    border-radius: 100px;
    margin-top: 3rem;
    font-weight: bold;
}

.docs-btn:hover {
    background-color: var(--primary-light);
}