@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #B98DFF;
    --primary-light: #eadcff;
    --header-shadow: rgb(95, 94, 94);
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
    padding: 1rem 5rem;
    font-weight: bold;
    background-color: var(--primary-light);
    box-shadow: 1px 1px 10px var(--header-shadow);
}

.brand-name {
    font-size: 1.5rem;
}

.brand-logo {
    width: 5%;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 0;
}

.hero-img img {
    width: 15%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.docs-btn {
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    border-radius: 100px;
    margin-top: 3rem;
    font-weight: bold;
    box-shadow: 3px 1px 10px rgb(95, 94, 94);

}

.docs-btn:hover {
    background-color: var(--primary-color);
}

.icon-gh {
    font-size: 2rem;
}