<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/f9a7380946.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="../../../style.css" />
		<link rel="stylesheet" href="../../docs.css" />
		<link rel="stylesheet" href="./alert.css" />
		<title>Alert</title>
	</head>
	<body>
		<header>
			<div class="header-nav">
				<span class="brand-name"
					><a href="../index.html">Unfold 2.0</a></span
				>
				<div class="github">
					<a
						href="https://github.com/shraddha15-creator"
						target="_blank"
						><i class="fab fa-github"></i
					></a>
				</div>
			</div>
		</header>
		<main>
			<div class="comp-page-container">
				<div class="navbar-left">
					<span class="navbar-left-title">Installation</span>
					<a class="navbar-left-items" href="../../docs.html"
						>Refer</a
					>
					<span class="navbar-left-title">Components</span>
					<a class="navbar-left-items" href="../">Avatars</a>
					<a
						class="navbar-left-items active-tab"
						href="../alert/alert.html"
						>Alert</a
					>
					<a class="navbar-left-items" href="#badge">Badge</a>
					<a class="navbar-left-items" href="../button/button.html"
						>Buttons</a
					>
					<a class="navbar-left-items" href="#cards">Cards</a>
					<a class="navbar-left-items" href="#images">Image</a>
					<a class="navbar-left-items" href="#input">Input</a>
					<a class="navbar-left-items" href="#text">Text</a>
					<a class="navbar-left-items" href="#lists">Lists</a>
					<a class="navbar-left-items" href="#navigation"
						>Navigation</a
					>
					<a class="navbar-left-items" href="#modal">Modal</a>
					<a class="navbar-left-items" href="#toast">Toasts</a>
					<a class="navbar-left-items" href="#grid"
						>Simplified Grid</a
					>
				</div>
				<div class="container-docs">
					<span class="comp-page-header">Alert</span>
					<div class="comp-page-details">
						<h5>Success Alert</h5>
						<div class="alert-container">
							<div class="alert alert-success">
								This is an success alert<i
									class="far fa-times-circle"
								></i>
							</div>
						</div>
						<h5>Info Alert</h5>
						<div class="alert-container">
							<div class="alert alert-info">
								This is an info alert<i
									class="far fa-times-circle"
								></i>
							</div>
						</div>
						<h5>Warning Alert</h5>
						<div class="alert-container">
							<div class="alert alert-warning">
								This is an warning alert<i
									class="far fa-times-circle"
								></i>
							</div>
						</div>
						<h5>Error Alert</h5>
						<div class="alert-container">
							<div class="alert alert-err">
								This is an error alert<i
									class="far fa-times-circle"
								></i>
							</div>
						</div>
						<iframe
							src="https://carbon.now.sh/embed/M3TLX1Z4IOm5I2g99oFu"
							style="
								width: 680px;
								height: 307px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
