@import url(../button/button.css);

:root {
    --white: white;
    --shadow: rgb(73, 73, 73);
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: baseline;
    width: 100%;
    margin: 4rem 0;
    padding: 0.5rem 3rem;
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 5px 2px 5px 0 var(--shadow)
}

.left-nav .brand a {
    color: var(--white);
}

.mid-nav {
    display: flex;
    gap: 1rem;
}

.mid-nav-item {
    color: var(--white);
}

.mid-nav-item:hover {
    font-weight: bold;
}

.right-nav {
    display: flex;
    font-size: 1.5rem;
}

.icon {
    border-radius: 100px;
    padding: 0.7rem;
    cursor: pointer;
}

.icon:hover {
    background-color: var(--white);
    border-radius: 100px;
    padding: 0.7rem;
    cursor: pointer;
    color: var(--black);
}

.btn {
    background-color: var(--white);
}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
    border-radius: 100px;
    border: 2px solid var(--white);
}