<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/f9a7380946.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="../../../style.css" />
		<link rel="stylesheet" href="../../docs.css" />
		<link rel="stylesheet" href="./button.css" />
		<title>Button</title>
	</head>

	<body>
		<header>
			<div class="header-nav">
				<span class="brand-name"
					><a href="../index.html">Unfold 2.0</a></span
				>
				<div class="github">
					<a
						href="https://github.com/shraddha15-creator"
						target="_blank"
						><i class="fab fa-github"></i
					></a>
				</div>
			</div>
		</header>
		<main>
			<div class="comp-page-container">
				<div class="navbar-left">
					<span class="navbar-left-title">Installation</span>
					<a class="navbar-left-items" href="../../docs.html"
						>Refer</a
					>
					<span class="navbar-left-title">Components</span>
					<a class="navbar-left-items" href="../">Avatars</a>
					<a class="navbar-left-items" href="../alert/alert.html"
						>Alert</a
					>
					<a class="navbar-left-items" href="#badge">Badge</a>
					<a class="navbar-left-items active-tab" href="./button.html"
						>Buttons</a
					>
					<a class="navbar-left-items" href="#cards">Cards</a>
					<a class="navbar-left-items" href="#images">Image</a>
					<a class="navbar-left-items" href="#input">Input</a>
					<a class="navbar-left-items" href="#text">Text</a>
					<a class="navbar-left-items" href="#lists">Lists</a>
					<a class="navbar-left-items" href="#navigation"
						>Navigation</a
					>
					<a class="navbar-left-items" href="#modal">Modal</a>
					<a class="navbar-left-items" href="#toast">Toasts</a>
					<a class="navbar-left-items" href="#grid"
						>Simplified Grid</a
					>
				</div>
				<div class="container-docs">
					<span class="comp-page-header">Buttons</span>
					<div class="comp-page-details">
						<h5>Primary Buttons</h5>
						<div class="btn-container">
							<button class="btn btn-primary btn-dark">
								Primary
							</button>
							<button class="btn btn-primary btn-light">
								Secondary
							</button>
							<button class="btn btn-primary btn-disabled">
								Disabled
							</button>
						</div>
						<iframe
							src="https://carbon.now.sh/embed/81iwvldH417h5iaWCxlX"
							style="
								width: 680px;
								height: 140px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
						<h5>Buttons with Link</h5>
						<div class="btn-container">
							<button class="btn btn-with-links btn-dark">
								Primary
							</button>
							<button class="btn btn-with-links btn-light">
								Secondary
							</button>
							<button class="btn btn-with-links btn-disabled">
								Disabled
							</button>
						</div>
						<iframe
							src="https://carbon.now.sh/embed/GtNXog8VxnvZD2UwgVwQ"
							style="
								width: 680px;
								height: 140px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
						<h5>Icon Buttons</h5>
						<div class="btn-container">
							<button class="btn btn-with-icon">
								Add to Cart<i class="fas fa-cart-plus"></i>
							</button>
							<button class="btn btn-with-icon">
								Add Friend<i class="fas fa-user-plus"></i>
							</button>
							<button class="btn btn-with-icon">
								Delete<i class="fas fa-trash-alt"></i>
							</button>
						</div>
						<iframe
							src="https://carbon.now.sh/embed/VmRE9jvDbk6qyj9gOR38"
							style="
								width: 680px;
								height: 252px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
						<h5>Floating Action Buttons</h5>
						<div class="btn-container">
							<button class="btn btn-floating">
								<i class="fas fa-heart"></i>
							</button>
							<button class="btn btn-floating">
								<i class="fas fa-plus-circle"></i>
							</button>
							<button class="btn btn-floating">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
						<iframe
							src="https://carbon.now.sh/embed/WuzdNdgSOhb76EcUBktp"
							style="
								width: 680px;
								height: 158px;
								border: 0;
								transform: scale(1);
								overflow: hidden;
							"
							sandbox="allow-scripts allow-same-origin"
						>
						</iframe>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
