<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/f9a7380946.js" crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" sizes="32x32" href="../../../images/favicon-32x32.png">
	<link rel="stylesheet" href="../../../style.css" />
	<link rel="stylesheet" href="../../docs.css" />
	<link rel="stylesheet" href="../../../hamburger.css">
	<link rel="stylesheet" href="./button.css" />
	<title>Button</title>
</head>

<body>
	<header>
		<div class="header-nav">
			<span class="brand-name"><a href="../../../index.html">Unfold 2.0</a></span>
			<div class="github">
				<a href="https://github.com/shraddha15-creator/Unfold2.0" target="_blank"><i
						class="fab fa-github icon-gh"></i></a>
			</div>
		</div>
	</header>
	<!-- Hamburger start -->
	<div class="hamburger">
		<input type="checkbox" id="hamburger-input">
		<label id="burger" for="hamburger-input">
			<div></div>
			<div></div>
			<div></div>
		</label>
		<nav id="hamburger-menu" class="hamb-items">
			<a class="navbar-left-items" href="../../docs.html">Refer</a>
			<span class="navbar-left-title">Components</span>
			<a class="navbar-left-items" href="../avatar/avatar.html">Avatars</a>
			<a class="navbar-left-items" href="../alert/alert.html">Alert</a>
			<a class="navbar-left-items" href="../badge/badge.html">Badge</a>
			<a class="navbar-left-items active-tab" href="./button.html">Buttons</a>
			<a class="navbar-left-items" href="../card/card.html">Cards</a>
			<a class="navbar-left-items" href="../image/image.html">Image</a>
			<a class="navbar-left-items" href="../input/input.html">Input</a>
			<a class="navbar-left-items" href="../text/text.html">Text Utilities</a>
			<a class="navbar-left-items" href="../list/list.html">Lists</a>
			<a class="navbar-left-items" href="../navigation/navigation.html">Navigation</a>
			<a class="navbar-left-items" href="../modal/modal.html">Modal</a>
			<a class="navbar-left-items" href="../toast/toast.html">Toasts</a>
			<a class="navbar-left-items" href="../grid/grid.html">Simplified Grid</a>
			<a class="navbar-left-items" href="../rating/rating.html">Ratings</a>
			<a class="navbar-left-items" href="../slider/slider.html">Slider</a>
		</nav>
	</div>
	<!-- Hamburger end -->
	<main>
		<div class="comp-page-container">
			<div class="navbar-left">
				<span class="navbar-left-title">Installation</span>
				<a class="navbar-left-items" href="../../docs.html">Refer</a>
				<span class="navbar-left-title">Components</span>
				<a class="navbar-left-items" href="../avatar/avatar.html">Avatars</a>
				<a class="navbar-left-items" href="../alert/alert.html">Alert</a>
				<a class="navbar-left-items" href="../badge/badge.html">Badge</a>
				<a class="navbar-left-items active-tab" href="./button.html">Buttons</a>
				<a class="navbar-left-items" href="../card/card.html">Cards</a>
				<a class="navbar-left-items" href="../image/image.html">Image</a>
				<a class="navbar-left-items" href="../input/input.html">Input</a>
				<a class="navbar-left-items" href="../text/text.html">Text Utilities</a>
				<a class="navbar-left-items" href="../list/list.html">Lists</a>
				<a class="navbar-left-items" href="../navigation/navigation.html">Navigation</a>
				<a class="navbar-left-items" href="../modal/modal.html">Modal</a>
				<a class="navbar-left-items" href="../toast/toast.html">Toasts</a>
				<a class="navbar-left-items" href="../grid/grid.html">Simplified Grid</a>
				<a class="navbar-left-items" href="../rating/rating.html">Ratings</a>
				<a class="navbar-left-items" href="../slider/slider.html">Slider</a>
			</div>
			<div class="container-docs">
				<span class="comp-page-header">Buttons</span>
				<div class="comp-page-details">
					<h5>Primary Buttons</h5>
					<div class="btn-container">
						<button class="btn btn-primary btn-dark">
							Primary
						</button>
						<button class="btn btn-primary btn-light">
							Secondary
						</button>
						<button class="btn btn-primary btn-disabled">
							Disabled
						</button>
					</div>
					<div class="iframe-container">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28209%2C158%2C255%2C1%29&t=one-light&wt=none&l=htmlmixed&width=873.75&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-dark%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-light%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-disabled%2522%253EDisabled%253C%252Fbutton%253E"
							style="width: 874px; height: 157px; border:0; transform: scale(1); overflow:hidden;"
							sandbox="allow-scripts allow-same-origin">
						</iframe>
					</div>
					<h5>Buttons with Link</h5>
					<div class="btn-container">
						<button class="btn btn-with-links btn-dark">
							Primary
						</button>
						<button class="btn btn-with-links btn-light">
							Secondary
						</button>
						<button class="btn btn-with-links btn-disabled">
							Disabled
						</button>
					</div>
					<div class="iframe-container">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28209%2C158%2C255%2C1%29&t=one-light&wt=none&l=htmlmixed&width=873.75&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-with-links%2520btn-dark%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-with-links%2520btn-light%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-with-links%2520btn-disabled%2522%253EDisabled%253C%252Fbutton%253E"
							style="width: 874px; height: 157px; border:0; transform: scale(1); overflow:hidden;"
							sandbox="allow-scripts allow-same-origin">
						</iframe>
					</div>
					<h5>Icon Buttons</h5>
					<div class="btn-container">
						<button class="btn btn-with-icon">
							Add to Cart<i class="fas fa-cart-plus btn-icon"></i>
						</button>
						<button class="btn btn-with-icon">
							Add Friend<i class="fas fa-user-plus btn-icon"></i>
						</button>
						<button class="btn btn-with-icon">
							Delete<i class="fas fa-trash-alt btn-icon"></i>
						</button>
					</div>
					<div class="iframe-container">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28209%2C158%2C255%2C1%29&t=one-light&wt=none&l=htmlmixed&width=873.75&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-with-icon%2522%253EAdd%2520to%2520Cart%250A%2520%2509%253Ci%2520class%253D%2522fas%2520fa-cart-plus%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-with-icon%2522%253EAdd%2520Friend%250A%2509%253Ci%2520class%253D%2522fas%2520fa-user-plus%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-with-icon%2522%253EDelete%250A%2520%2509%253Ci%2520class%253D%2522fas%2520fa-trash-alt%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
							style="width: 874px; height: 257px; border:0; transform: scale(1); overflow:hidden;"
							sandbox="allow-scripts allow-same-origin">
						</iframe>
					</div>
					<h5>Floating Action Buttons</h5>
					<div class="btn-container">
						<button class="btn btn-floating">
							<i class="fas fa-heart"></i>
						</button>
						<button class="btn btn-floating">
							<i class="fas fa-plus-circle"></i>
						</button>
						<button class="btn btn-floating">
							<i class="fas fa-trash-alt"></i>
						</button>
					</div>
					<div class="iframe-container">
						<iframe
							src="https://carbon.now.sh/embed?bg=rgba%28209%2C158%2C255%2C1%29&t=one-light&wt=none&l=htmlmixed&width=873.75&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-floating%2522%253E%253Ci%2520class%253D%2522fas%2520fa-heart%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-floating%2522%253E%253Ci%2520class%253D%2522fas%2520fa-plus-circle%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-floating%2522%253E%253Ci%2520class%253D%2522fas%2520fa-trash-alt%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
							style="width: 874px; height: 117px; border:0; transform: scale(1); overflow:hidden;"
							sandbox="allow-scripts allow-same-origin">
						</iframe>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>