.btn-container {
    padding: 2rem;
}

.btn {
    padding: 0.5rem 2rem;
    border-radius: 100px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-dark {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-dark:hover {
    background-color: var(--primary-light);
    color: var(--black);
}

.btn-light {
    background-color: var(--primary-light);
    color: var(--primary-color);
}

.btn-light:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-disabled {
    background-color: var(--btn-danger);
    color: var(--btn-disabled);
    cursor: not-allowed;
}

.btn-with-links {
    cursor: help;
    border-radius: 5px;
}

.btn-with-icon {
    background-color: var(--primary-light);
}

.btn-icon {
    padding: 0 0 0 1rem;
    font-size: 1rem;
}

.btn-floating {
    box-shadow: 5px 5px 5px var(--primary-color);
    background-color: var(--primary-light);
    background-color: transparent;
    padding: 4% 5%;
    border-radius: 100%;
    margin-right: 1rem;
    font-size: 2rem;
}